<h1>Search by Genre</h1>

<div class="container-fluid">

<div class="row">
  <div class="col-md-12">
    <form id="searchForm" action="/search" method="POST">
      <div class="form-group">
        <label for="sel1">Select Genre:</label>
        <select name="genreSelect" class="form-control" id="sel1">
          <option value="Science Fiction">Science Fiction</option>
          <option value="Paranormal">Paranormal</option>
          <option value="Fantasy">Mystery</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Realistic Fiction">Realistic Fiction</option>
        </select>
      </div>
      <button type="submit" class="btn btn-default searchButton">search books</button>
    </form>

    <div>
      <% if(books) { %>
      <% for (var i = 0; i < books.length; i++) { %>
      <% var book = books[i]; %>
      <div class="booksDisplay">
        <div class="cover">
          <img class="bookCover" src="<%=book.image %>">
        </div>
        <div class="bookDescription">
        <p><strong>Title:</strong> <em><%= book.title %></em></p>
        <p><strong>Author:</strong> <%= book.author %></p>
        <p><strong>Description:</strong> <%= book.description %></p>
        <p><strong>Genre:</strong> <%= book.genre %></p>
        </div>
        <form action="<%= book.link %>" method="get" target="_blank">
          <button class="btn btn-default locateBook" type="submit">Get this book!</button>
        </form>
        
        <form id="favouriteList" action="/favourites" method="POST">
          <input type="hidden" name="bookId" value="<%= book.id %>">
          <button class="btn btn-default addToProfile" type="submit"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> Add to Rack</button>
        </form>
      </div>
    </div>
  <% } %>
  <% } %>

  </div>


  </div>

</div>


</div>
